body {
	margin:0px;
	padding:0px;
}
/*///////////////////////MENU NAVIGATION//////////////////////*/

#menu {
	margin-top: -22px;
	background-color: #E9EDF2;
	position: fixed;
	height: 15%;
	width: 100%;
	padding-top: 10px;
}
#menu ul {
	display: flex;
	list-style: none;
	font-family: "Helvetica Neue",Arial,sans-serif;
}

#menu ul li{
	margin-right: 10px;
}
.menu {
	color: black;
	line-height: 55px;
}

#logo {
	margin-left:-45px;
}

#menuDeroulant{
	color: #727C8E;
	line-height: 55px;
}
#menu ul ul{
	display:none;
}
#menu ul li:hover ul {
	display: block;
	width: 30%;
	background-color: white;
	border:1px solid black;
	border-radius: 5px;
	padding: 10px 95px 10px 15px;
	font-size: 1em;
	line-height: 35px;
}
#menu ul ul li a{
	color: #202528;
}

#menudroite {
	margin-left: 31em;
}
#boutonmenu {
	display: flex;
	border: solid 1px black;
	height: 5%;
	border-radius: 5px;
	margin-top: 12px;
	background: white;
}

#boutonmenuG {
 	background: #3F9BF8;
 	border-right: solid 1px black;
 	padding: 5px 20px 5px 20px;
}

#boutonmenuG a {
	color: white;
}

#boutonmenuD {
	padding: 5px 10px 5px 10px;
}

#boutonmenuD a {
	color: black;
}

/*////////////////////PREMIERE SECTION (fond gris)//////////////////*/

header {
	display: block;
	padding-top: 100px;
	background-color: #E9EDF2;
}

h1{
	font-size: 2.6em;
	font-family: "Helvetica Neue",Arial,sans-serif;
	font-weight: 100;
	text-align: center;
	color: #202528;
	padding-bottom: 10px;
}

#section1 {
	background: #E9EDF2;
	margin-top: -30px;
	padding-top: 50px;
}

#contenu1 {
	display: flex;
	background-color: #3f4655;
	border: 1px solid #1c1b1b;
}
#contenu1 article {
	padding: 30px;
	font-family: "Helvetica Neue",Arial,sans-serif;
	text-align: center;
	border-right: 1px solid #1c1b1b;
}

#contenu1 article h4 {
	font-size:1.3em;
	color: white;
}
#contenu1 article p {
	font-size:1em;
	color: #B2B5BB;
}

#contenu1 article:hover {
	background-color: #3b414f;
}

#contenu1 article:hover p {
	color: white;
}

.textActive {
	font-size: 1.3em;
	font-family: Georgia, serif;
	line-height: 1.7em;
	text-align: center;
	color: #202528;
	width: 60%;
	margin-top: 40px;
	margin-right: auto;
	margin-left: auto;
}

#boutontry {
	text-align: center;
	padding-top: 2em;
}

#credit{
	font-size: 0.9em;
	font-family: "Helvetica Neue",Arial,sans-serif;
	text-align: center;
	padding-top: 1em;
}

#captureEcran {
	display: block;
	width: 65%;
	margin-top: 60px;
	margin-right: auto;
	margin-left: auto;
}

/*//////////////////////////BOUTONS////////////////////////////////*/

#bouton30days {
	color:white;
  	border-radius: 7px;
  	font-family: "Helvetica Neue",Arial,sans-serif;
  	font-size: 1.3em;
  	font-weight: 600;
  	background: #3F9BF8;
  	padding: 15px 30px 15px 30px;
  	border: solid #000000 1px;
}

#bouton30days:hover {
	background: #3093f7;
}

.boutons {
  color:white;
  border-radius: 7px;
  font-family: "Helvetica Neue",Arial,sans-serif;
  font-size: 1em;
  background: #3F9BF8;
  padding: 8px 20px 8px 20px;
  border: solid #000000 1px;
}

.boutons:hover {
  background: #3093f7;
}

a {
	text-decoration: none;
}

/*///////////////////SECONDE SECTION (fond blanc)//////////////////*/

#section2 {
	margin-top: 100px;
	margin-bottom: 100px;
}

h2 {
	font-size: 2.2em;
	font-weight: 100;
	font-family: "Helvetica Neue",Arial,sans-serif;
	text-align: center;
	margin-bottom: -18px;
}

#contenu2 {
	display: flex;
}

#article1Contenu2 {
	border-right: 1px solid #c9c6c6;
	margin-left: auto;
	font-family: Georgia, serif;
	text-align: center;
	color: #202528;
}

#article1Contenu2 img {
width: 45%;
}
#article1Contenu2 h3 {
	font-size: 1.5em;
	font-family: "Helvetica Neue",Arial,sans-serif;
}

#article1Contenu2 p {
	line-height: 1.9em;
	padding-bottom: 5px;
}

#article2Contenu2 {

	margin-right: auto;
	font-family: Georgia, serif;
	text-align: center;
	color: #202528;
}

#article2Contenu2 img {
width: 45%;
}
#article2Contenu2 h3 {
	font-size: 1.5em;
	font-family: "Helvetica Neue",Arial,sans-serif;
}

#article2Contenu2 p {
	line-height: 1.9em;
	padding-bottom: 5px;
}

.italique {
	font-style: italic;
}

/*//////////////////TROISIEME SECTION (fond gris)/////////////////////*/

#section3 {
	background-color: #E9EDF2;
	padding-top: 50px;
	margin-bottom: 80px;
	color: #202528;
}

#section3 p {
	width: 60%;
	font-size: 1.3em;
	line-height: 1.7em;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
}

#section3 img {
	margin-top: -20px;
}

/*//////////////QUATRIEME SECTION (formulaire)////////////////////////*/

#texteSection4 {
	font-size: 1.1em;
	font-family: Georgia, serif;
	line-height: 1.5em;
	text-align: center;
	width:40%;
	margin-right: auto;
	margin-left: auto;
	color: #202528;
	margin-top: -20px;
}

#formulaire {
	background-color: #E9EDF2;
	border: 1px solid #929090;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	width: 30%;
	margin-right: auto;
	margin-left: auto;
	padding: 35px 30px 20px 30px;
	font-family: "Helvetica Neue",Arial,sans-serif;
	font-weight: 800;
	color: #202528;
	line-height: 1.8em;
}

#formulaire input {
	margin-bottom: 20px;
	font-size: 1em;
	padding: 10px 5px 10px 5px;
}

#boutonSection4 {
	margin-right: auto;
	margin-left: auto;
}

#derformtexte {
	text-align: center;
	font-weight: 100;
	margin-top: -2px;
}

#dataSection4{
	font-size: 0.95em;
	font-family: "Helvetica Neue",Arial,sans-serif;
	color: #727C8E;
	text-align: center;
	margin-top: 30px;
}

#lienFinSection4 {
	display: block;
	text-align: center;
	font-size: 0.95em;
	font-family: "Helvetica Neue",Arial,sans-serif;
	text-decoration: underline;
	color: #727C8E;
	margin-top: -10px;
}

/*////////////////////////FOOTER///////////////////////*/

footer {
	padding: 50px 170px 50px 170px;
	margin-top: 80px;
	background-color: #3F4655;
	color: #727C8E;
	font-family: "Helvetica Neue",Arial,sans-serif;
	font-size: 1.1em;
}

#footerFlex {
	display: flex;
	justify-content: space-around;
}

h5 {
	padding-left: 40px;
}
.footer {
	list-style: none;
	font-family: "Helvetica Neue",Arial,sans-serif;
}

.footer a {
	color: white;
	font-size: 0.8em;
	line-height: 30px;
}