ul {
	list-style: none;
}

h1{
	font-family: "Helvetica Neue",Arial,sans-serif;
}
a {
	text-decoration: none;
}

.boutons {
  color:white;
  border-radius: 7px;
  font-family: "Helvetica Neue",Arial,sans-serif;
  font-size: 20px;
  background: #3F9BF8;
  padding: 10px 20px 10px 20px;
  border: solid #000000 1px;
  
}

.boutons:hover {
  background: #3093f7;
  }

